@import url(http://fonts.googleapis.com/css?family=Carter+One);
body{
  background-image: url("http://www.transparenttextures.com/patterns/shattered-dark.png");
  font-family: 'Carter One';
}
/*#main{
  background: #3A111C;/*#000624
  display:block;
  width:100%;
  height:100px;
  font-size:50px;
  text-align:center;
  color:#F4D03F;
}*/

h2 {
    text-align: center;
        font-size: 43px;
}
#instructions_text p{
font-size: 22px;
}

#State{
  position: absolute;
   width:250px;
   top:50px;
   right:0px;
   text-align: center;
   line-height: 20px;
   font-size: 20px;
}
#Instructions{
   position: absolute;
   width:250px;
   top:30px;
   left:0px;
   text-align: center;
   line-height: 20px;
   font-size: 40px;
}
#instructions_text{
      position: fixed;
    top: 0px;
    left: 18%;
    width: 65%;
    display: block;
    height: 100%;
     opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display:none;
}

.pageScroll{
      color: #6B6969;
    position: absolute;
    top: 85px;
    width: 100px;
    /* margin-right: auto; */
    /* margin-left: auto; */
    font-size: 18px;
    text-align: center;
    left: 50%;
    margin-left: -50px;
}
.selected{
  color:white;
}
i.fa.fa-circle {
    padding: 5px;
}

i.fa.fa-circle:hover {
    color: white;
}
.blurred{
  transition: all 0.25s ease-out;
  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px);
}

.imgInstructions{
      position: relative;
    width: 90%;
    
}
.pagecontent {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
#calendarHeader{
background: transparent;/*#000624*/
  display:block;
  width:100%;
  height:100px;
  font-size:50px;
  text-align:center;
  color:white;
  margin-top: -100px;
}
#calendarfoot{
background: transparent;/*#000624*/
  display:block;
  width:100%;
  /*height:100px;*/
  font-size:50px;
  text-align:center;
  color:#F4D03F;
}
#daypicker{
  
  background: -webkit-linear-gradient(90deg, #C04848 10%, #75214D 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #C04848 10%, #75214D 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #C04848 10%, #75214D 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #C04848 10%, #75214D 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #C04848 10%, #75214D 90%); /* W3C */

  background: -webkit-linear-gradient(90deg, #485563 10%, #29323c 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #485563 10%, #29323c 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #485563 10%, #29323c 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #485563 10%, #29323c 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #485563 10%, #29323c 90%); /* W3C */

  display:block;
  width:102%;
  margin-left:-10px;
  height:100px;
  overflow:hidden;
  z-index: 9;
}
.month{
  background:transparent;
  height: 100px;
  width: 8.3%;
  float:left;
  border-right: 1px solid rgba(14, 32, 71, 1);
  text-align:center;
  line-height: 95px;
  font-size: 13px;
  color:white;
  z-index: 10;
  
}
.month:hover{
  background: rgba(0,0,0,0.3);
  color: white;
  text-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}
.days31{
  float:left;
  display:block;
  height:75px;
  width:9.88%;
  border-right: 1px solid #000624;
  border-bottom: 1px solid #000624;
  text-align:center;
  line-height:75px;
  color:#939DA9;
  font-size:40px;
  
}
.days30{
  float:left;
  display:block;
  height:100px;
  width:9.88%;
  border-right: 1px solid #000624;
  border-bottom: 1px solid #000624;
  text-align:center;
  line-height:100px;
  color: #939DA9;
  font-size:40px;
}

.days30:hover{
  background: #3A111C;
  color: white;
  box-shadow: inset 1px 1px 10px 0px rgba(0,0,0,0.5);
}

.days31:hover{
  background: #3A111C;
  color: white;
  box-shadow: inset 1px 1px 10px 0px rgba(0,0,0,0.5);
}

.open{
  box-shadow: 1px 1px 40px 5px rgba(0,0,0,0.6);
  background-color: transparent;
  color: white;

}

.hours{
  width:8.21%;
  text-align:center;
  float:left;
  height:38%;
  border-top:0px;
  border-right: 1px solid #000624;
  border-bottom: 1px solid #000624;
  font-size:50px;
  line-height: 114px;
  color: #939DA9;
}
.hours:hover{
  box-shadow: inset 1px 1px 10px 0px rgba(0,0,0,0.5);
  background: #3A111C;
  color:white;
}
.yellow{
  color:#F4D03F !important;
  box-shadow: 1px 1px 40px 5px rgba(0,0,0,0.6);
}
#close{
  position:absolute;
  margin-top:20px;
  margin-left:10px;
  font-size:40px;
  color:white;
  display:none;
}
#close:hover{
  font-size:45px;
}

/* MOBILE CSS */


@media (max-width: 800px) {
  body{
    
  }
  .month {
     /*-webkit-transform: rotateZ(90deg);*/
     
     overflow :hidden;
  }
  #instructions{
    width: 50%;
  }
  
}
